<ion-view title="posts">
    <ion-side-menus>
        <ion-pane ion-side-menu-content>
            <ion-header-bar align-title="center" class="bar bar-header bar-assertive">
                <div class="buttons">
                    <button class="button" ng-click="toggleMenu()"><i class="icon ion-navicon"></i></button>
                </div>
                <h1 class="title">Promobugs</h1>
                <div class="buttons">
                    <button class="button" ng-click="doShare()"><i class="icon ion-help-circled"></i></button>
                </div>
            </ion-header-bar>
            <ion-content>
                <ion-refresher on-refresh="loadPosts()" pulling-icon="ion-android-arrow-dropdown-circle">
                </ion-refresher>
                <div class="list" data-ng-if="posts.length">
                    <div data-ng-repeat="p in posts" >
                        <div class="post source{{p.sourceId}}">
                            <div class="post-text" id="post{{p.id}}">
                                <div class="post-image{{p.sourceId}}"></div>
                                <div data-ng-bind-html="toTrusted(p.html)"> </div>
                            </div>
                            <div ngc-seemore="'{{p.id}}'"></div>
                        </div>
                        <div class="footer-source{{p.sourceId}}">
                                <a class="footer-button button{{p.sourceId}}" ng-click="openUrlViewer(p.url)">
                                    <i class="icon ion-ios-home"></i>
                                </a>
                                <a class="footer-button button{{p.sourceId}}" ng-click="doShare(p.id, p.url)">
                                    <i class="icon ion-android-share-alt"></i>
                                </a>
                                <p class="pubdate">{{p.publicationDate}}</p>
                        </div>
                    </div>
                </div>
                <ion-infinite-scroll on-infinite="morePosts()" immediate-check="false"
                        data-ng-if="infiniteLoad" distance="1%">
                </ion-infinite-scroll>
            </ion-content>
        </ion-pane>
        <ion-side-menu side="left">
            <ion-header-bar align-title="center" class="bar bar-header bar-assertive">
                <h1 class="title">Configurações</h1>
            </ion-header-bar>
            <ion-content>
                <form name="testForm" id="testForm" novalidate>
                    <ul class="list">
                        <li class="item item-toggle">
                            <i class="icon ion-android-notifications"></i>
                            Notificações
                            <label class="toggle toggle-assertive">
                                <input type="checkbox" ng-model="toggleNotifications.checked">
                                <div class="track">
                                    <div class="handle"></div>
                                </div>
                            </label>
                        </li>

                        <li class="item item-toggle" ng-show="false" >
                            <i class="icon ion-radio-waves"></i>
                            Vibrar
                            <label class="toggle toggle-assertive">
                                <input type="checkbox" ng-model="toggleVibrations.checked" ng-disabled="formData.activeNotifications == 0">
                                <div class="track">
                                    <div class="handle"></div>
                                </div>
                            </label>
                        </li>

                        <li class="item item-toggle">
                            <i class="icon ion-funnel"></i>
                            Filtrar notificações
                            <label class="toggle toggle-assertive" >
                                <input type="checkbox" ng-model="toggleFilter.checked" ng-disabled="formData.activeNotifications == 0" >
                                <div class="track">
                                    <div class="handle"></div>
                                </div>
                            </label>
                        </li>
                    </ul>
                    <div class="div-config" ng-show="formData.activeNotifications == 1 && formData.activeFilter == 1">
                        <span class="wordsHeader">Receber apenas notificações com os termos:</span>
                        <br/>
                        <div>
                            <div class="item item-input" style="height: 10%" ng-click="publish($event)">
                                <input type="text" name="word1" placeholder="Ex: ipad" ng-model="formData.word1">
                                <i ng-click="clearWord1()" class="button button-clear icon ion-close-circled padding-right"></i>
                            </div>

                            <div class="item item-input" style="height: 10%" ng-click="publish($event)">
                                <input type="text" name="word2" placeholder="Ex: pendrive" ng-model="formData.word2">
                                <i ng-click="clearWord2()" class="button button-clear icon ion-close-circled padding-right"></i>
                            </div>

                            <div class="item item-input" style="height: 10%" ng-click="publish($event)">
                                <input type="text" name="word3" placeholder="Ex: moto x" ng-model="formData.word3">
                                <i ng-click="clearWord3()" class="button button-clear icon ion-close-circled padding-right"></i>
                            </div>
                        </div>
                        <span class="wordsFooter">*Caracteres especiais, espaços e letras maíusculas não serão considerados.</span>
                    </div>
                    <div class="div-config">
                        <button class="button button-block button-positive" ng-click="saveConfig()">Salvar</button>
                    </div>
                </form>
            </ion-content>         
        </ion-side-menu>
    </ion-side-menus>
</ion-view>