<?xml version="1.0" encoding="UTF-8"?>
<b:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:b="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security-3.1.xsd">

	<global-method-security secured-annotations="enabled" access-decision-manager-ref="accessDecisionManager" />

	<http auto-config='true' access-decision-manager-ref="accessDecisionManager" />

	<authentication-manager alias="authenticationManager">
        <authentication-provider ref="wls" />
    </authentication-manager>

    <b:bean id="wls" class="com.claro.sccweb.security.weblogic.AuthenticationProvider">
    	<b:property name="roles">
			<b:map>
				<b:entry key="CobillingGui_Usr" value="ROLE_USER" />
				<b:entry key="CobillingGui_Adm" value="ROLE_ADMIN" />
			</b:map>
		</b:property>
		<!-- uncomment the line below if you're not using the default security realm -->
		<!-- <b:property name="securityRealm" value="myrealm" /> -->
		<!-- +++ -->
    </b:bean>
	
	<b:bean id="sccFilterChain" class="org.springframework.security.web.FilterChainProxy">
		<b:constructor-arg>
			<b:list>
				<filter-chain pattern="/**/login.scc" filters="none" />
				<filter-chain pattern="/**/*.scc"
					filters="concurrentSessionFilter,
					securityContextPersistenceFilter,
					authenticationFilter,
					exceptionTranslationFilter,
					filterSecurityInterceptor" />
			</b:list>
		</b:constructor-arg>
	</b:bean>
	
	<b:bean id="sessionRegistry" class="org.springframework.security.core.session.SessionRegistryImpl" />
	
	<b:bean id="concurrentSessionFilter" class="org.springframework.security.web.session.ConcurrentSessionFilter">
		<b:property name="sessionRegistry" ref="sessionRegistry" />
	</b:bean>
	
	<b:bean id="securityContextPersistenceFilter" class="org.springframework.security.web.context.SecurityContextPersistenceFilter" />
	
	<b:bean id="authenticationFilter" class="org.springframework.security.web.authentication.UsernamePasswordAuthenticationFilter">
		<b:property name="authenticationManager" ref="authenticationManager" />
		<b:property name="filterProcessesUrl" value="/j_scc_security_check.scc" />
		<b:property name="authenticationSuccessHandler" ref="authenticationSuccessHandler" />
		<b:property name="authenticationFailureHandler" ref="authenticationFailureHandler" />
	</b:bean>
	
	<b:bean id="authenticationSuccessHandler" class="com.claro.sccweb.security.handler.SCCAuthenticationSuccessHandler">
		<b:property name="afterLoginTargetURL" value="/inicio/scc.scc" />
	</b:bean>
	
	<b:bean id="authenticationFailureHandler" class="org.springframework.security.web.authentication.SimpleUrlAuthenticationFailureHandler">
    	<b:property name="defaultFailureUrl" value="/login.scc?error=1"/>
  	</b:bean>
	
	<b:bean id="roleVoter" class="org.springframework.security.access.vote.RoleHierarchyVoter">
		<b:constructor-arg ref="roleHierarchy" />
	</b:bean>
	
	<b:bean id="roleHierarchy" class="org.springframework.security.access.hierarchicalroles.RoleHierarchyImpl">
		<b:property name="hierarchy"
			value="ROLE_ADMIN > ROLE_USER 
	ROLE_USER > ROLE_OPERATOR 
	ROLE_OPERATOR > ROLE_GUEST" />
	</b:bean>
	
	<b:bean id="filterSecurityInterceptor" class="org.springframework.security.web.access.intercept.FilterSecurityInterceptor">
		<b:property name="authenticationManager" ref="authenticationManager" />
		<b:property name="accessDecisionManager" ref="accessDecisionManager" />
		<b:property name="securityMetadataSource">
			<filter-security-metadata-source>
				<intercept-url pattern="/**/*.scc" access="ROLE_USER,ROLE_ADMIN" />
			</filter-security-metadata-source>
		</b:property>
	</b:bean>
	
	<b:bean id="accessDecisionManager" class="org.springframework.security.access.vote.AffirmativeBased">
		<b:property name="decisionVoters">
			<b:list>
				<b:ref bean="roleVoter" />
			</b:list>
		</b:property>
	</b:bean>
	
	<b:bean id="exceptionTranslationFilter" class="org.springframework.security.web.access.ExceptionTranslationFilter">
		<b:property name="authenticationEntryPoint" ref="authenticationEntryPoint" />
		<b:property name="accessDeniedHandler" ref="accessDeniedHandler" />
	</b:bean>
	
	<b:bean id="authenticationEntryPoint" class="org.springframework.security.web.authentication.LoginUrlAuthenticationEntryPoint">
		<b:property name="loginFormUrl" value="/login.scc" />
	</b:bean>
	
	<b:bean id="accessDeniedHandler" class="org.springframework.security.web.access.AccessDeniedHandlerImpl">
		<b:property name="errorPage" value="/login.scc?error=2" />
	</b:bean>
	
</b:beans>