<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jee="http://www.springframework.org/schema/jee" xsi:schemaLocation="http://www.springframework.org/schema/beans  http://www.springframework.org/schema/beans/spring-beans-2.5.xsd http://www.springframework.org/schema/jee  http://www.springframework.org/schema/jee/spring-jee-2.5.xsd">

<bean id="sccDAO" class="com.claro.cobillingweb.persistence.dao.impl.HibernateBasicDAOImpl" abstract="true">
	<property name="sessionFactory" ref="sessionFactory"/>
</bean>

<bean id="controlConnectFileDAO" class="com.claro.cobillingweb.persistence.dao.external.impl.ControlConnectFileDAOImpl" parent="sccDAO"/>
<bean id="tipoArquivoDAO" class="com.claro.cobillingweb.persistence.dao.internal.impl.SccTipoArquivoDAOImpl" parent="sccDAO"/>
<bean id="statusArquivoDAO" class="com.claro.cobillingweb.persistence.dao.internal.impl.SccStatusArquivoDAOImpl" parent="sccDAO"/>
<bean id="sccOperadoraDAO" class="com.claro.cobillingweb.persistence.dao.internal.impl.SccOperadoraDAOImpl" parent="sccDAO"/>
<bean id="sumarioArquivoDAO" class="com.claro.cobillingweb.persistence.dao.internal.impl.SumarioArquivoDAOImpl" parent="sccDAO"/>
<bean id="cdrCobillingDAO" class="com.claro.cobillingweb.persistence.dao.internal.impl.SccCdrCobillingDAOImpl" parent="sccDAO"/>
<bean id="preDominioDAO" class="com.claro.cobillingweb.persistence.dao.internal.impl.SccPreDominioDAOImpl" parent="sccDAO"/>
<bean id="viewArquivoPrePagoDAO" class="com.claro.cobillingweb.persistence.dao.external.impl.ViewArquivoPrePagoDAOImpl" parent="sccDAO"/>

<bean id="produtoCobillingDAO" class="com.claro.cobillingweb.persistence.dao.internal.impl.SccProdutoCobillingDAOImpl" parent="sccDAO"/>
<bean id="periodicidadeRepasseDAO" class="com.claro.cobillingweb.persistence.dao.internal.impl.SccPeriodicidadeRepasseDAOImpl" parent="sccDAO"/>
<bean id="paramProcessoDAO" class="com.claro.cobillingweb.persistence.dao.internal.impl.SccParamProcessoDAOImpl" parent="sccDAO"/>
<bean id="sccGrupoCobillingDAO" class="com.claro.cobillingweb.persistence.dao.internal.impl.SccGrupoCobillingDAOImpl" parent="sccDAO"/>
<bean id="sccEmailCobillingDAO" class="com.claro.cobillingweb.persistence.dao.internal.impl.SccEmailCobillingDAOImpl" parent="sccDAO"/>
<bean id="sccBatimentoArquivosDAO" class="com.claro.cobillingweb.persistence.dao.internal.impl.SccBatimentoArquivosDAOImpl" parent="sccDAO"/>
<bean id="sccConfirmacaoRepasseDAO" class="com.claro.cobillingweb.persistence.dao.internal.impl.SccConfirmacaoRepasseDAOImpl" parent="sccDAO"/>
<bean id="sccArquivosNaoProcessadosDAO" class="com.claro.cobillingweb.persistence.dao.internal.impl.SccArquivosNaoProcessadosDAOImpl" parent="sccDAO"/>
<bean id="sccAssexuadosDAO" class="com.claro.cobillingweb.persistence.dao.internal.impl.SccAssexuadosDAOImpl" parent="sccDAO"/>
<bean id="sccContingenciaFiscalDAO" class="com.claro.cobillingweb.persistence.dao.internal.impl.SccContingenciaFiscalDAOImpl" parent="sccDAO"/>
<bean id="sccBatimentoFiscalDAO" class="com.claro.cobillingweb.persistence.dao.internal.impl.SccBatimentoFiscalDAOImpl" parent="sccDAO"/>
<bean id="sccArquivosFiscaisDAO" class="com.claro.cobillingweb.persistence.dao.internal.impl.SccArquivosFiscaisDAOImpl" parent="sccDAO"/>
<bean id="sccAlocadasMobileDAO" class="com.claro.cobillingweb.persistence.dao.internal.impl.SccAlocadasMobileDAOImpl" parent="sccDAO"/>
<bean id="sccAlocadasMobileSemProcessamentoDAO" class="com.claro.cobillingweb.persistence.dao.internal.impl.SccAlocadasMobileSemProcessamentoDAOImpl" parent="sccDAO"/>
<bean id="sccEncaminhadoMobileDAO" class="com.claro.cobillingweb.persistence.dao.internal.impl.SccEncaminhadoMobileDAOImpl" parent="sccDAO"/>
<bean id="sccExtracaoCDRsDAO" class="com.claro.cobillingweb.persistence.dao.internal.impl.SccExtracaoCDRsDAOImpl" parent="sccDAO"/>
<bean id="sccRelatorioCobillingDAO" class="com.claro.cobillingweb.persistence.dao.internal.impl.SccRelatorioCobillingDAOImpl" parent="sccDAO"/>
<bean id="sccNaoConfAplAjustesDAO" class="com.claro.cobillingweb.persistence.dao.internal.impl.SccNaoConfAplAjustesDAOImpl" parent="sccDAO"/>
<bean id="sccNaoConfAplFaturamentoDAO" class="com.claro.cobillingweb.persistence.dao.internal.impl.SccNaoConfAplFaturamentoDAOImpl" parent="sccDAO"/>
<bean id="sccNaoConfAplBatimentoEstornoDebitoDAO" class="com.claro.cobillingweb.persistence.dao.internal.impl.SccNaoConfAplBatimentoEstornoDebitoDAOImpl" parent="sccDAO"/>
<bean id="sccFaturasDAO" class="com.claro.cobillingweb.persistence.dao.internal.impl.SccFaturasDAOImpl" parent="sccDAO"/>
<bean id="sccAcoesCobrancaDAO" class="com.claro.cobillingweb.persistence.dao.internal.impl.SccAcoesCobrancaDAOImpl" parent="sccDAO"/>
<bean id="sccAcordoParcelamentoDAO" class="com.claro.cobillingweb.persistence.dao.internal.impl.SccAcordoParcelamentoDAOImpl" parent="sccDAO"/>
<bean id="sccFinanceiroDAO" class="com.claro.cobillingweb.persistence.dao.internal.impl.SccFinanceiroDAOImpl" parent="sccDAO"/>
<bean id="sccBatimentoInterfaceDAO" class="com.claro.cobillingweb.persistence.dao.internal.impl.SccBatimentoInterfaceDAOImpl" parent="sccDAO"/>
<bean id="sccRelatorioConciliacaoDAO" class="com.claro.cobillingweb.persistence.dao.internal.impl.SccRelatorioConciliacaoDAOImpl" parent="sccDAO"/>
<bean id="sccBatimentoWruppDAO" class="com.claro.cobillingweb.persistence.dao.internal.impl.SccBatimentoWruppDAOImpl" parent="sccDAO"/>
<bean id="sccAssinaturaPrePagoDAO" class="com.claro.cobillingweb.persistence.dao.internal.impl.SccAssinaturaPrePagoDAOImpl" parent="sccDAO"/>

<bean id="contratoAcordadoDAO" class="com.claro.cobillingweb.persistence.dao.internal.impl.SccContratoAcordadoDAOImpl" parent="sccDAO">
<property name="operadoraDAO" ref="sccOperadoraDAO"/>
</bean>

<bean id="ctlParalizacaoPlatDAO" class="com.claro.cobillingweb.persistence.dao.internal.impl.SccCtlParalizacaoPlatDAOImpl" parent="sccDAO"/>


<bean id="itemRepasseDAO" class="com.claro.cobillingweb.persistence.dao.internal.impl.SccItemRepasseDAOImpl" parent="sccDAO">
</bean>


<bean id="relatorioJurosMultaDAO" class="com.claro.cobillingweb.persistence.dao.internal.impl.SccRelatorioJurosMultaDAOImpl" parent="sccDAO">
<property name="operadoraDAO" ref="sccOperadoraDAO"/>
</bean>


<bean id="produtoContratadoPrepagoDAO" class="com.claro.cobillingweb.persistence.dao.internal.impl.SccProdutoContratadoPrepagoDAOImpl" parent="sccDAO">
<property name="operadoraDAO" ref="sccOperadoraDAO"/>
<property name="produtoPrepagoDAO" ref="produtoPrepagoDAO"/>
</bean>



<bean id="repasseServicoAdicionalDAO" class="com.claro.cobillingweb.persistence.dao.internal.impl.SccRepasseServicoAdicionalDAOImpl" parent="sccDAO">
<property name="operadoraDAO" ref="sccOperadoraDAO"/>
</bean>

<bean id="produtoPrepagoDAO" class="com.claro.cobillingweb.persistence.dao.internal.impl.SccProdutoPrepagoDAOImpl" parent="sccDAO"/>


<bean id="sccArquivoCobillingDAO" class="com.claro.cobillingweb.persistence.dao.internal.impl.SccArquivoCobillingDAOImpl" parent="sccDAO">
<property name="sccTipoArquivoDAO" ref="tipoArquivoDAO"/>
<property name="operadoraDAO" ref="sccOperadoraDAO"/>
</bean>

<bean id="repasseDAO" class="com.claro.cobillingweb.persistence.dao.internal.impl.SccRepasseDAOImpl" parent="sccDAO">
<property name="operadoraDAO" ref="sccOperadoraDAO"/>
</bean>

<bean id="sccParamProcessoDAO" class="com.claro.cobillingweb.persistence.dao.internal.impl.SccParamProcessoDAOImpl" parent="sccDAO">
</bean>

<bean id="pagamentoRepasseDAO" class="com.claro.cobillingweb.persistence.dao.internal.impl.SccPagamentoRepasseDAOImpl" parent="sccDAO"/>
<bean id="memoDAO" class="com.claro.cobillingweb.persistence.dao.internal.impl.SccMemoDAOImpl" parent="sccDAO"/>

<bean id="tipoContratoDAO" class="com.claro.cobillingweb.persistence.dao.internal.impl.SccTipoContratoDAOImpl" parent="sccDAO"/>

<bean id="preFechamentoDAO" class="com.claro.cobillingweb.persistence.dao.internal.impl.SccPreFechamentoDAOImpl" parent="sccDAO">
<property name="operadoraDAO" ref="sccOperadoraDAO"/>
</bean>


<bean id="preFechamentoAssinaturaDAO" class="com.claro.cobillingweb.persistence.dao.internal.impl.SccPreFechamentoAssinaturaDAOImpl" parent="sccDAO">
<property name="operadoraDAO" ref="sccOperadoraDAO"/>
</bean>

<bean id="creditoDAO" class="com.claro.cobillingweb.persistence.dao.internal.impl.SccCreditoDAOImpl" parent="sccDAO"/>

<bean id="contratoCobillingDAO" class="com.claro.cobillingweb.persistence.dao.internal.impl.SccContratoCobillingDAOImpl" parent="sccDAO"/>

<bean id="contratoCoblDAO" class="com.claro.cobillingweb.persistence.dao.internal.impl.SccContratoCoblDAOImpl" parent="sccDAO"/>

<bean id="produtoContratadoDAO" class="com.claro.cobillingweb.persistence.dao.internal.impl.SccProdutoContratadoDAOImpl" parent="sccDAO"/>

<bean id="configRepasseCobrancaDAO" class="com.claro.cobillingweb.persistence.dao.internal.impl.SccConfigRepasseCobrancaDAOImpl" parent="sccDAO"/>

<bean id="periodProdContrDAO" class="com.claro.cobillingweb.persistence.dao.internal.impl.SccPeriodProdContrDAOImpl" parent="sccDAO"/>

<bean id="composicaoProdutoDAO" class="com.claro.cobillingweb.persistence.dao.internal.impl.SccComposicaoProdutoDAOImpl" parent="sccDAO"/>

<bean id="itemCobillingDAO" class="com.claro.cobillingweb.persistence.dao.internal.impl.SccItemCobillingDAOImpl" parent="sccDAO"/>

<bean id="servicoAdicionalDAO" class="com.claro.cobillingweb.persistence.dao.internal.impl.SccServicoAdicionalDAOImpl" parent="sccDAO"/>

<bean id="pacotePrepagoDAO" class="com.claro.cobillingweb.persistence.dao.internal.impl.SccPacotePrepagoDAOImpl" parent="sccDAO"/>

<bean id="tipoEventoDAO" class="com.claro.cobillingweb.persistence.dao.internal.impl.SccTipoEventoDAOImpl" parent="sccDAO"/>

<bean id="arquivoSumarizadoDAO" class="com.claro.cobillingweb.persistence.dao.internal.impl.SccArquivoSumarizadoDAOImpl" parent="sccDAO"/>

<bean id="cdrCoblDAO" class="com.claro.cobillingweb.persistence.dao.internal.impl.SccCdrCoblDAOImpl" parent="sccDAO"/>

<bean id="statusCdrDAO" class="com.claro.cobillingweb.persistence.dao.internal.impl.SccStatusCdrDAOImpl" parent="sccDAO"/>

<bean id="motivoRejeicaoDAO" class="com.claro.cobillingweb.persistence.dao.internal.impl.SccMotivoRejeicaoDAOImpl" parent="sccDAO"/>

<bean id="arquivoCreditoDAO" class="com.claro.cobillingweb.persistence.dao.internal.impl.SccArquivoCreditoDAOImpl" parent="sccDAO"/>

<bean id="faixaPenalidadeDAO" class="com.claro.cobillingweb.persistence.dao.internal.impl.SccFaixaPenalidadeDAOImpl" parent="sccDAO"/>
<bean id="assinanteCriticaDAO" class="com.claro.cobillingweb.persistence.dao.internal.impl.SccAssinanteCriticaDAOImpl" parent="sccDAO"/>
<bean id="criticaPrebillingDAO" class="com.claro.cobillingweb.persistence.dao.internal.impl.SccCriticaPrebillingDAOImpl" parent="sccDAO"/>

<bean id="mapaStatusDAO" class="com.claro.cobillingweb.persistence.dao.internal.impl.SccMapaStatusDAOImpl" parent="sccDAO"/>
<bean id="estornoMobileDAO" class="com.claro.cobillingweb.persistence.dao.external.impl.EstornoMobileDAOImpl" parent="sccDAO"/>
<bean id="aliquotaImpostoDAO" class="com.claro.cobillingweb.persistence.dao.internal.impl.SccAliquotaImpostoDAOImpl" parent="sccDAO"/>
<bean id="contaContabilDAO" class="com.claro.cobillingweb.persistence.dao.internal.impl.SccContaContabilDAOImpl" parent="sccDAO"/>
<bean id="centroDAO" class="com.claro.cobillingweb.persistence.dao.internal.impl.SccCentroDAOImpl" parent="sccDAO"/>
<bean id="atividadeContabilDAO" class="com.claro.cobillingweb.persistence.dao.internal.impl.SccAtividadeContabilDAOImpl" parent="sccDAO"/>

<bean id="sccPreRelatorioEventosDAO" class="com.claro.cobillingweb.persistence.dao.internal.impl.SccPreRelatorioEventosDAOImpl" parent="sccDAO"/>

<bean id="sccPreChamadasCreditoDAO" class="com.claro.cobillingweb.persistence.dao.internal.impl.SccPreChamadasCreditoDAOImpl" parent="sccDAO"/>

<bean id="sccRelBatimentoEstornoDebitoDAO" class="com.claro.cobillingweb.persistence.dao.internal.impl.SccRelBatimentoEstornoDebitoDAOImpl" parent="sccDAO"/>

<bean id="sccRelatorioChamadasRefaturamentoDAO" class="com.claro.cobillingweb.persistence.dao.internal.impl.SccRelatorioChamadasRefaturamentoDAOImpl" parent="sccDAO"/>

<bean id="retornoRepasseDAO" class="com.claro.cobillingweb.persistence.dao.internal.impl.SccRetornoRepasseDAOImpl" parent="sccDAO"/>

<bean id="sccRelatorioAlarmeOperacionalDAO" class="com.claro.cobillingweb.persistence.dao.internal.impl.SccRelatorioAlarmeOperacionalDAOImpl" parent="sccDAO"/>

<bean id="penalidadePorRejeicaoDAO" class="com.claro.cobillingweb.persistence.dao.internal.impl.SccPenalidadePorRejeicaoDAOImpl" parent="sccDAO"/>

<bean id="sccPreRelatorioCriticasDAO" class="com.claro.cobillingweb.persistence.dao.internal.impl.SccPreRelatorioCriticasDAOImpl" parent="sccDAO"/>

<bean id="sccRelatorioQuestionamentoDAO" class="com.claro.cobillingweb.persistence.dao.internal.impl.SccRelatorioQuestionamentoDAOImpl" parent="sccDAO"/>

<bean id="sccRelatorioQuestionamentoResultadoDAO" class="com.claro.cobillingweb.persistence.dao.internal.impl.SccRelatorioQuestionamentoResultadoDAOImpl" parent="sccDAO"/>

<bean id="sccPosRelatorioDisputaDetalheDAO" class="com.claro.cobillingweb.persistence.dao.internal.impl.SccPosRelatorioDisputaDetalheDAOImpl" parent="sccDAO"/>

<bean id="sccRelDemonstrativoDesempenhoPenalidadeDAO" class="com.claro.cobillingweb.persistence.dao.internal.impl.SccRelDemonstrativoDesempenhoPenalidadeDAOImpl" parent="sccDAO"/>

<bean id="sccQuestionamentoDAO" class="com.claro.cobillingweb.persistence.dao.internal.impl.SccQuestionamentoDAOImpl" parent="sccDAO"/>

<bean id="sccCdrQuestionamentoDAO" class="com.claro.cobillingweb.persistence.dao.internal.impl.SccCdrQuestionamentoDAOImpl" parent="sccDAO"/>

<bean id="sccDisputaDAO" class="com.claro.cobillingweb.persistence.dao.internal.impl.SccDisputaDAOImpl" parent="sccDAO"/>

<bean id="sccDisputaPrePagoDAO" class="com.claro.cobillingweb.persistence.dao.internal.impl.SccDisputaPrePagoDAOImpl" parent="sccDAO"/>

<bean id="sccContestacaoPrePagoDAO" class="com.claro.cobillingweb.persistence.dao.internal.impl.SccContestacaoPrePagoDAOImpl" parent="sccDAO"/>

<bean id="sccIndicadorDAO" class="com.claro.cobillingweb.persistence.dao.internal.impl.SccIndicadorDAOImpl" parent="sccDAO"/>

<bean id="sccIndicadoresDAO" class="com.claro.cobillingweb.persistence.dao.internal.impl.SccIndicadoresDAOImpl" parent="sccDAO"/>

<bean id="sccAssociacaoRelatorioGrupoDAO" class="com.claro.cobillingweb.persistence.dao.internal.impl.SccAssociacaoRelatorioGrupoDAOImpl" parent="sccDAO"/>

<bean id="sccChamadasRefaturamentoDAO" class="com.claro.cobillingweb.persistence.dao.internal.impl.SccChamadasRefaturamentoDAOImpl" parent="sccDAO"/>

<bean id="cadastroCriticaPrebillingDAO" class="com.claro.cobillingweb.persistence.dao.internal.impl.CadastroCriticaPrebillingDAOImpl" parent="sccDAO"/>

<bean id="cadastroDadosBancariosDAO" class="com.claro.cobillingweb.persistence.dao.internal.impl.CadastroDadosBancariosDAOImpl" parent="sccDAO"/>

<bean id="sccResultadoIndicadorDAO" class="com.claro.cobillingweb.persistence.dao.internal.impl.SccResultadoIndicadoresDAOImpl" parent="sccDAO"/>
<bean id="sccPrePagoCreditosDAO" class="com.claro.cobillingweb.persistence.dao.internal.impl.SccPrePagoCreditosDAOImpl" parent="sccDAO"/>
<bean id="sccTarifasCobrarDAO" class="com.claro.cobillingweb.persistence.dao.internal.impl.SccTarifasCobrarDAOImpl" parent="sccDAO"/>
<bean id="sccComposicaoGrupoEmailDAO" class="com.claro.cobillingweb.persistence.dao.internal.impl.SccComposicaoGrupoEmailDAOImpl" parent="sccDAO"/>

</beans>
