@charset "utf-8";
/* CSS Document */

.TituloTela{
font-family:"Trebuchet MS";
color:#004685;
font-size:16px
}


.submitButton
{
	border: 1px solid #006;
    background: #f7f7f7;	
    Removido por Rafael - width:100px;
}

.TabelaFormulario{
border:1px solid #dadada;
border: 1px solid #d9d6c4;
background: #eceadf url(images/ui-bg_fine-grain_10_eceadf_60x60.png); 
/* Removido por Rafael Eder
background-color:#f7f7f7
*/
}

.TabelaFormulario td{
	padding:5px;
	white-space: nowrap;
}

.TdFormularioUp{
padding:5px;
}


.TabelaInterna{
	float:left;
	margin-top:2px;
	width:964px;
}

.InputText{
border:1px solid #8ba5c0;
font-family:"Trebuchet MS";
font-size:12px;
margin:5px;
}



.InputTextDesabilitado{
border:1px solid #CCCCCC;
font-family:"Trebuchet MS";
font-size:12px}



.FormularioBody {
 margin-left: 0px;
 margin-top: 0px;
 margin-right: 0px;
 margin-bottom: 0px;
 font-family:"Trebuchet MS";
 color:#000000;
 font-size:11px
}


.combo{
font-family:"Trebuchet MS";
font-size:12px;
margin:5px;
width:200px;
}

.comboLargo{
font-family:"Trebuchet MS";
font-size:12px;
margin:5px;
width:300px;
}


.Link {
font:"Trebuchet MS";
font-size:11px;
text-decoration:none;
color:#4e79a0}

.LinhaPesquisa{
	float:left;
	width:964px;
	height:21px;
	
}


.FundoEsqPesquisa{
float:left;
width:5px;
height:21px;
background-image:url(../images/FundoEsquerdaPesquisa.gif);
background-repeat:no-repeat;

}

.FundoPesquisa{
float:left;
width:954px;
height:21px;
background-image:url(../images/FundoPesquisa.gif);
background-repeat:repeat-x}



.FundoDirPesquisa{
float:right;
width:5px;
height:21px;
background-image:url(../images/FundoDireitaPesquisa.gif);
background-repeat:no-repeat;
}


.lupa{
margin-left:5px;
margin-top:-5px;
float:left;
width:24px;
height:26px;
background-image:url(../images/lupa.gif);
background-repeat:no-repeat}


.txtconsulta{
float:left;
margin-left:10px;
font-family:"Trebuchet MS";
color:#004685;
font-size:14px;
font-weight:bold
}


.BotaoAbriPesquisa{
	float:Right;
	width:14px;
	height:13px;
	margin-top:4px;
	margin-right: 5px;
}

.Conteudo{
float:left;
margin:10px;
width:96%
}
