@charset "utf-8";
/* CSS Document */

body {
 margin-left: 0px;
 margin-top: 0px;
 margin-right: 0px;
 margin-bottom: 0px;
 font-family:"Trebuchet MS";
 color:#000000;
 font-size:11px
}


h1 {
font-family:"Trebuchet MS";
color:#004685;
font-size:16px}

.PopUp{
margin:10px}

/******************************   Topo   ****************/


#Topo{
float:left}


#BackgroundTopo{
width:100%;
height:88px;
background-image:url(../Images/Background_topo.gif);
}

.NomeUser{
float:left;
height:15px;
width:910px;
font-family:Verdana, Arial, Helvetica, sans-serif;
text-align:right;
font-size:9px;
color:#000000;
}

.BtSair{
float:left;
width:47px;
height:12px;
margin-left:10px
}

#ContainerTopo{
margin-left:10px;
float:left;
width:964px;
height:42px;
background-image:url(../Images/BgFrente.gif);


}

.LeftTopoBG{
width:8px;
height:42px;
float:left;
background-image:url(../Images/LeftTopoBG.gif);
background-repeat:no-repeat;}



.Cas{
float:right;
font-family:"Trebuchet MS";
font-size:20px;
color:#004685;
margin-top:8px;
margin-right:5px}

 


/*      ------------------  MENU -------------------- */

.LinkSeta{
background-image:url(../Images/SetaMenu.gif);
background-repeat:no-repeat;
background-position:7px 7px;
}

.LeftMenuBG{
width:6px;
height:22px;
float:left;
background-image:url(../Images/LeftMenuBG.gif);
background-repeat:no-repeat
}


.RightMenuBG{
width:6px;
height:22px;
float:Right;
background-image:url(../Images/RightMenuBG.gif);
background-repeat:no-repeat
}

 


.menu {
background-image:url(../Images/FrontMenuBG.gif);
margin-left:10px;
float:left;
width:964px;
height:22px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
color:#000000;

}

 
 

#nav li:hover, #nav li.hover {
 position: static;
 
 
 
 
 
}

 

#nav LI A
{
 
    DISPLAY: block;
    MARGIN-LEFT: 0px;
    COLOR: #737373;
    TEXT-DECORATION: none;
 padding-right:5px;
 padding-top:6px;
 
 
 

 
 
 
 
 

}
#nav LI A:hover
{
    COLOR: #5c83a5;
    TEXT-DECORATION: none;
    DISPLAY: block;
    MARGIN: 0px 0px 0px 0px;
    
 
 
}

#nav UL LI A
{
    COLOR: #818181;
    TEXT-DECORATION: none;
    FONT-WEIGHT: normal;
    PADDING: 3px 0px 0px 13px;
    DISPLAY: block;
    MARGIN: 0px 0px 0px 0px;
 
 
 
 
 

}
#nav UL LI A:hover
{
    FONT-WEIGHT: normal;
    TEXT-DECORATION: none;
  
 


}
#nav A.gotSub
{
    COLOR: #818181;
    TEXT-DECORATION: none;
    DISPLAY: block;
    MARGIN-LEFT: 0px;
   
 

}
#nav UL LI A:hover
{
    COLOR: #3b6896;
 background-color:#DFF1F9;
    TEXT-DECORATION: none;
 padding-top:3px;
 border-bottom:4px #DFF1F9 solid
 
 
 
}
#nav
{
    PADDING: 0px;
    MARGIN: 0px 0px 0px 5px;
    LIST-STYLE-TYPE: none;
 
 
 
 
 
 

}
#nav UL
{
    
    PADDING: 0px;
    MARGIN: 0px;
    LIST-STYLE-TYPE: none;
 
 
 
 
 
}

 

 


#nav A, 
#nav A:hover
{
    DISPLAY: block
}
#nav LI
{
FLOAT: left;
background-image:url(../Images/Aba.gif);
background-repeat:no-repeat;
background-position:5px 3px;
width:116px;
height:19px;
padding-right:5px;
padding-left:18px;

 


 
 
}


 


#nav LI UL
{
    
    LEFT: -999em;
    WIDTH: 150px;
    POSITION: absolute;
 margin-left:-13px;
 padding-top:3px;
 border-bottom:1px #cccccc solid
 
 


 
 
 
 
}
#nav LI UL UL
{
    MARGIN: -28px 0px 0px 150px;
 
 

 
 
}
#nav LI UL UL LI, 
#nav LI UL UL UL LI, 
#nav LI UL LI
{

    BACKGROUND-COLOR: #ffffff;
    WIDTH: 150px;
 background-image:none;
 padding:0px 0px 0px 0px;
 border:1px solid #cccccc;
 border-bottom:none
 
 
 
 
 

 
   
 
 
}

#nav LI:hover UL UL, 
#nav LI:hover UL UL UL, 
#nav LI.sfhover UL UL,
#nav LI.sfhover UL UL UL,
{
    LEFT: -999em;
 
 
}

#nav LI:hover UL, 
#nav LI LI:hover UL, 
#nav LI LI LI:hover UL, 
#nav LI.sfhover UL, 
#nav LI LI.sfhover UL,
#nav LI LI LI.sfhover UL
{
    LEFT: auto
}

/*      ------------------  Home-------------------- */


.BackgroundCalendario{
margin-top:130px;
float:left;
height:220px;
width:100%;
background-image:url(../Images/background_calendario.gif);
background-position:0px 15px
}

.BackgroundCalendario{
margin-top:130px;
float:left;
height:220px;
width:100%;
background-image:url(../Images/background_calendario.gif);
}

.Calendario{
margin-left:90px;
float:left;
width:796px;
height:204px;
background-image:url(../Images/imagemEntrada.gif);
background-repeat:no-repeat
}

.ImagemEntrada{
margin-left:90px;
float:left;
width:796px;
height:204px;
background-image:url(../Images/ImagemEntrada.gif);
background-repeat:no-repeat
}

.ContainerCalendario{
float:left;
width:123px;
height:136px;
margin-top:40px;
margin-left:50px;
margin-left:18px}

.DiaCalendarioDezena{
margin-top:6px;
float:left;
padding-top:8px;
width:58px;
height:70px;
font-family:"Trebuchet MS";
font-size:50px;
color:#666666;
text-align:center}


.DiaCalendarioUnidade{
margin-top:6px;
padding-top:8px;
margin-left:3px;
float:left;
width:58px;
height:70px;
font-family:"Trebuchet MS";
font-size:50px;
color:#666666;
text-align:center}


.MesCalendario{
margin-top:4px;
float:left;
width:121px;
height:35px;
font-family:"Trebuchet MS";
font-size:20px;
color:#666666;
text-align:center;
padding-top:10px}

.TituloSistema{
margin-top:27px;
float:left;
width:796px;
height:110px;
font-family:"Trebuchet MS";
text-align:center;
padding-top:55px;
font-size:40px;
color:#666666;
}

/*      ------------------  Caixa login -------------------- */


.CaixaLogin{
margin-left:300px;
;
width:381px;
height:185px;}

.TopoLogin{
width:381px;
height:42px;
background-image:url(../Images/TopoCaixaLogin.gif);
background-repeat:no-repeat;
font-family:"Trebuchet MS";
color:#004685;
font-weight:bold;
font-size:12px;
text-align:center;
padding-top:13px}

.CaixaInterna{
width:379px;
height:108px;
background-color:#f7f7f7;
border:#cccccc 1px solid;
padding-top:35px}

.inputTexto{
border:1px solid #8ba5c0;
font-family:"Trebuchet MS";
font-size:12px}


.inputTextoDesabilitado{
border:1px solid #CCCCCC;
font-family:"Trebuchet MS";
font-size:12px}

.BotaoFile{
border:1px solid #8ba5c0;
font-family:"Trebuchet MS";
font-size:12px;
width:415px}


/*      ------------------  Conteudo -------------------- */


.Conteudo{
float:left;
margin:10px;
width:96%
}


.TabelaSubTitulo {
color:#FFFFFF;
font-weight:bold;
background-color:#00ae4d;
text-align:center}


.Subtitulo{
color:#515253;
font-weight:bold;
background-color:#cae6d6;
text-align:center}

.SubtituloRed{
color:#FF0000;
font-weight:bold;
background-color:#cae6d6;
text-align:center}

.tabNormal {
	font-family: Trebuchet MS;
	font-size: 11px;
	border:solid 1px;
	border-collapse:collapse;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #cccfd1;
	border-right-color: #e6e9eb;
	border-bottom-color: #cccfd1;
	border-left-color: #e6e9eb;
}

.tabNormal tbody tr td {
	border:solid 1px;
	padding-top: 0px;
	padding-right: 4px;
	padding-bottom: 0px;
	padding-left: 4px;	
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #cccfd1;
	border-right-color: #e6e9eb;
	border-bottom-color: #cccfd1;
	border-left-color: #e6e9eb;
}

.TabelaConteudo1{
background:#f7f7f7}

.TabelaPaginacao{
border:1px solid #cccfd1}



.Paginacao {
font-family: Trebuchet MS;
	font-size: 11px;
	color: #4e79a0;
	text-decoration: none;}

.TabelaPopUp{
border:1px solid #dadada;
background-color:#f7f7f7}


.combo{
font-family:"Trebuchet MS";
font-size:10px;
margin:5px;
}

.TdPopUp{
padding:5px}

.Link {
font:"Trebuchet MS";
font-size:11px;
text-decoration:none;
color:#4e79a0}






/*      ------------------  Tela Pesquisa -------------------- */


.LinhaPesquisa{
	float:left;
	width:964px;
	height:21px;
	
}


.FundoEsqPesquisa{
float:left;
width:5px;
height:21px;
background-image:url(../images/FundoEsquerdaPesquisa.gif);
background-repeat:no-repeat;

}

.FundoPesquisa{
float:left;
width:954px;
height:21px;
background-image:url(../images/FundoPesquisa.gif);
background-repeat:repeat-x}



.FundoDirPesquisa{
float:right;
width:5px;
height:21px;
background-image:url(../images/FundoDireitaPesquisa.gif);
background-repeat:no-repeat;
}


.lupa{
margin-left:5px;
margin-top:-5px;
float:left;
width:24px;
height:26px;
background-image:url(../images/lupa.gif);
background-repeat:no-repeat}


.txtconsulta{
float:left;
margin-left:10px;
font-family:"Trebuchet MS";
color:#004685;
font-size:14px;
font-weight:bold
}


.BotaoAbriPesquisa{
	float:Right;
	width:14px;
	height:13px;
	margin-top:4px;
	margin-right: 5px;
}


.TabelaDentroPopup{
	float:left;
	margin-top:2px;
	width:964px;
}


/** Table Sorter**/

table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}

