<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						   http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
						   http://www.springframework.org/schema/jee 
						   http://www.springframework.org/schema/jee/spring-jee-2.5.xsd">


	
<jee:jndi-lookup id="pricingDB" jndi-name="java:comp/env/SCCDB" />

 

<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource">
			<ref bean="pricingDB" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
			</props>
		</property>
		<property name="annotatedClasses">
			<list>
				<value>com.claro.cobillingweb.persistence.entity.external.ControlConnectFile</value>
				<value>com.claro.cobillingweb.persistence.entity.SccTipoArquivo</value>
				<value>com.claro.cobillingweb.persistence.entity.SccStatusArquivo</value>	
				<value>com.claro.cobillingweb.persistence.entity.SccOperadora</value>
				<value>com.claro.cobillingweb.persistence.entity.SccArquivoCobilling</value>	
				<value>com.claro.cobillingweb.persistence.entity.SccCdrCobilling</value>
				<value>com.claro.cobillingweb.persistence.entity.SccStatusCdr</value>	
				<value>com.claro.cobillingweb.persistence.entity.SccMotivoRejeicao</value>
				<value>com.claro.cobillingweb.persistence.entity.SccNaturezaCobranca</value>	
				<value>com.claro.cobillingweb.persistence.entity.SccPreDominio</value>
				<value>com.claro.cobillingweb.persistence.entity.SccArquivoPrePago</value>	
				<value>com.claro.cobillingweb.persistence.entity.SccParamProcesso</value>
				<value>com.claro.cobillingweb.persistence.entity.SccProdutoCobilling</value>	
				<value>com.claro.cobillingweb.persistence.entity.SccPeriodProdContr</value>
				<value>com.claro.cobillingweb.persistence.entity.SccProdutoContratado</value>
				<value>com.claro.cobillingweb.persistence.entity.SccContratoAcordado</value>	
				<value>com.claro.cobillingweb.persistence.entity.SccPeriodicidadeRepasse</value>	
				<value>com.claro.cobillingweb.persistence.entity.SccContratoCobl</value>
				<value>com.claro.cobillingweb.persistence.entity.SccRepasse</value>
				<value>com.claro.cobillingweb.persistence.entity.SccItemRepasse</value>
				<value>com.claro.cobillingweb.persistence.entity.SccTipoContrato</value>
				<value>com.claro.cobillingweb.persistence.entity.SccRepasseServicoAdicional</value>		
				<value>com.claro.cobillingweb.persistence.entity.SccPagamentoRepasse</value>
				<value>com.claro.cobillingweb.persistence.entity.SccMemo</value>		
				<value>com.claro.cobillingweb.persistence.entity.SccProdutoPrepago</value>	
				<value>com.claro.cobillingweb.persistence.entity.SccProdutoContratadoPrepago</value>
				<value>com.claro.cobillingweb.persistence.entity.SccTipoEvento</value>		
				<value>com.claro.cobillingweb.persistence.entity.SccContratoCobilling</value>
				<value>com.claro.cobillingweb.persistence.entity.SccPreFechamento</value>
				<value>com.claro.cobillingweb.persistence.entity.SccPreFechamentoAssinatura</value>	
				<value>com.claro.cobillingweb.persistence.entity.SccConfigRepasseCobranca</value>
				<value>com.claro.cobillingweb.persistence.entity.SccComposicaoProduto</value>
				<value>com.claro.cobillingweb.persistence.entity.SccItemCobilling</value>
				<value>com.claro.cobillingweb.persistence.entity.SccServicoAdicional</value>	
				<value>com.claro.cobillingweb.persistence.entity.SccPacotePrepago</value>	
				<value>com.claro.cobillingweb.persistence.entity.SccArquivoCredito</value>	
				<value>com.claro.cobillingweb.persistence.entity.SccFaixaPenalidade</value>		
				<value>com.claro.cobillingweb.persistence.entity.SccAssinanteCritica</value>	
				<value>com.claro.cobillingweb.persistence.entity.SccCriticaPrebilling</value>	
				<value>com.claro.cobillingweb.persistence.entity.SccCtlParalizacaoPlat</value>	
				<value>com.claro.cobillingweb.persistence.entity.SccMapaStatus</value>		
				<value>com.claro.cobillingweb.persistence.entity.SccAliquotaImposto</value>	
				<value>com.claro.cobillingweb.persistence.entity.SccContaContabil</value>		
				<value>com.claro.cobillingweb.persistence.entity.SccCentro</value>	
				<value>com.claro.cobillingweb.persistence.entity.SccAtividadeContabil</value>
				<value>com.claro.cobillingweb.persistence.entity.SccDominioContabil</value>				
				<value>com.claro.cobillingweb.persistence.entity.SccPreTarifaAcb</value>	
				<value>com.claro.cobillingweb.persistence.entity.SccPreItemTarifaAcb</value>	
				<value>com.claro.cobillingweb.persistence.entity.SccDadosBancario</value>																	
				<value>com.claro.cobillingweb.persistence.entity.SccGrupoCobilling</value>
				<value>com.claro.cobillingweb.persistence.entity.SccRelatorioCobilling</value>
				<value>com.claro.cobillingweb.persistence.entity.SccEmailCobilling</value>
			</list>
		</property>
	</bean>

</beans>