@font-face { font-family: OpenSans; src: url('../fonts/OpenSans-Regular.ttf'); } 
@font-face { font-family: OpenSans; font-weight: bold; src: url('../fonts/OpenSans-ExtraBold.ttf'); }

*{font-family:OpenSans;}

.scroll-content {
    /*background-image: linear-gradient(360deg, #33cd5f, #CFEFCB 10%, transparent 100%);*/
}

.div-config {
    margin: 10px;
}

.item-input{
  padding-top: 0px;
  padding-bottom: 0px;
}

.item-input > input {
  padding-top: 0px;
  padding-bottom: 0px;
}

.titulo {
    font-weight: bold;
    text-align: center;
}

.item-icon-left ion-spinner {
  float: left;
  margin-left: -3.2em;
  margin-top: -0.2em;
 }

.item-icon-left {
    margin: 0 0 0 0px;
}

.spinner {
  height: 26px;
}

.spinner svg {
  width: 28px;
  height: 28px;
  stroke: #999;
  fill: #999;
}

.post {  
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
     font-size: 1.0em;
    /*font-weight: bolder; */
    padding: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    /*border-bottom-right-radius: 5px; */
    border-top: 1px lightgrey solid;
    border-left: 1px lightgrey solid;
    border-right: 1px lightgrey solid;
    
}

.post a {
    color: white;
    font-size: 0.8em;
    font-weight: bolder;
}

.footer {
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.0em;
    /*font-weight: bolder; */
    padding: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 1px lightgrey solid;
    border-right: 1px lightgrey solid;
    border-bottom: 1px lightgrey solid;
    background-color: #33CD5F;
}

.footer-button {
    border-color: #28a54c;
    background-color: #33cd5f;
    color: #fff;
    padding: 0 20px;
    display: inline-block;
    margin: 0;
    font-size: 1.3em;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    vertical-align: top;
    text-align: center;
    text-overflow: ellipsis;
    margin-right: 10px;
}

.post-text {
    overflow: auto;
    max-height: 7.5em;
}

.post-image1 {
    width: 55px;
    height: 55px;
    background-image: url('../img/1.png');
    background-repeat: no-repeat;
    background-position: right top;
    float: right;
}

.post-image2 {
    width: 55px;
    height: 55px;
    background-image: url('../img/2.png');
    background-repeat: no-repeat;
    background-position: right top;
    float: right;
}

.post-image3 {
    width: 55px;
    height: 55px;
    background-image: url('../img/3.png');
    background-repeat: no-repeat;
    background-position: right top;
    float: right;
}

.source1 {
    background-color: #D38E7F;
    color: white;
}

.source2 {
    background-color: dimgrey;
    color: white;
}

.source3 {
    background-color: tan;
    color: white;
}

.post-details {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 25px;    
    border: lightgrey 1px solid;
    padding: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: auto;
}

.pubdate {
    font-size: 0.7em;
    color: white;
    float: right;
    font-weight: bold;
    margin: 0 0 0px;
    white-space: nowrap;
}

a.more {
    margin-left: 30%;
    margin-right: 30%;
    border: 0px;
    padding-top: 0px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 0px;
    text-align: center;
    font-weight: bold;
    background-color: #EF4E3A;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

a.more > p {
    font-weight: bold;
    font-size: 0.9em;
    color: white;
}